<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.norm.timemall.app.base.mapper.BaseSequenceMapper">

    <select id="nextSequence" statementType="CALLABLE" resultType="long">
        CALL get_sequence_proc(#{sequenceKey,mode=IN,jdbcType=VARCHAR})
    </select>

</mapper>