<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.norm.timemall.app.team.mapper.TeamMarketObjectMapper">
    <sql id="tableName">
        market_object
    </sql>

    <sql id="baseColumn">
        id,cell_id,sbu,quantity,sale_price,object_val
    </sql>
    <select id="selectPageByQ" resultType="com.norm.timemall.app.team.domain.ro.TeamObjRO">
        select
        obj.id,c.title,c.cover avatar,obj.sbu,obj.quantity,obj.sale_price,obj.object_val,obj.cell_id,c.brand_id,r.tag
        from market_object obj
        left join market_object_record r on r.obj_id = obj.id
        left join cell c on c.id = obj.cell_id
        where
         1 = 1
         and r.tag = '2'
        <if test="q != null and q != ''">
            AND locate(#{q}, c.title)>0
        </if>

    </select>
    <select id="selectOneObj" resultType="com.norm.timemall.app.team.domain.ro.TeamObj2RO">
        select
        obj.id,c.title,obj.sbu,obj.quantity,obj.sale_price,obj.object_val,r.debit_id,r.credit_id
        from market_object obj
        left join market_object_record r on r.obj_id = obj.id
        left join cell c on c.id = obj.cell_id
        where obj.id=#{obj_id}
    </select>
    <select id="selectPagebyTagAndCreditId" resultType="com.norm.timemall.app.team.domain.ro.TeamObjRO">
        select
        obj.id,r.swap_no,c.title,c.cover avatar,obj.sbu,obj.quantity,obj.sale_price,obj.object_val,obj.cell_id,c.brand_id,r.tag
        from market_object obj
        left join market_object_record r on r.obj_id = obj.id
        left join cell c on c.id = obj.cell_id
        where
          r.mark = #{mark}
          and r.credit_id = #{credit_id}
        <if test="mark == '1'.toString()">
            AND r.od='1'
        </if>
    </select>
    <select id="selectPagebyTagAndDebitId" resultType="com.norm.timemall.app.team.domain.ro.TeamObjRO">
        select
        obj.id,r.swap_no,c.title,c.cover avatar,obj.sbu,obj.quantity,obj.sale_price,obj.object_val,obj.cell_id,c.brand_id,r.tag
        from market_object obj
        left join market_object_record r on r.obj_id = obj.id
        left join cell c on c.id = obj.cell_id
        where
        r.mark = #{mark}
        and r.debit_id = #{debit_id}
    </select>
    <select id="selectOneObjBySwapNoAndOd" resultType="com.norm.timemall.app.team.domain.ro.TeamObjRO">
        select
        obj.id,r.swap_no,c.title,c.cover avatar,obj.sbu,obj.quantity,obj.sale_price,obj.object_val,obj.cell_id,c.brand_id,r.tag
        from market_object obj
        left join market_object_record r on r.obj_id = obj.id
        left join cell c on c.id = obj.cell_id
        where
        r.od = #{dto.od}
        and r.swap_no = #{dto.swapNo}
    </select>

</mapper>