<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.norm.timemall.app.team.mapper.TeamAppFbFeedCommentMapper">
    <sql id="tableName">
        app_fb_feed_comment
    </sql>

    <sql id="baseColumn">
        id,feed_id,author_brand_id,content,create_at,modified_at
    </sql>

    <select id="selectPageByFeedId" resultType="com.norm.timemall.app.team.domain.ro.TeamAppFbFetchCommentRO">
        select
         (case when c.safe_mode = '1' then ''
               else b.brand_name
          end)  as author,
        (case when c.safe_mode = '1' then ''
              else c.author_brand_id
          end)  as authorBrandId,
        (case when c.safe_mode = '1' then ''
              else b.avator
          end) as authorAvatar,
        (case when c.safe_mode = '1' then ''
              else b.handle
          end) as authorBrandHandle,
          c.create_at,
          c.id,
          c.content,
          c.safe_mode
        from app_fb_feed_comment c
        inner join brand b on c.author_brand_id= b.id
        where 1=1
        and c.feed_id=#{dto.feedId}
        order by c.create_at desc
    </select>

</mapper>