<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.norm.timemall.app.team.mapper.TeamDspCaseMaterialMapper">
    <sql id="tableName">
        dsp_case_material
    </sql>

    <sql id="baseColumn">
        id,case_no,material_type,material_name,material_url,create_at,modified_at
    </sql>

</mapper>