<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.norm.timemall.app.team.mapper.TeamAppFbFeedMapper">
    <sql id="tableName">
        app_fb_feed
    </sql>

    <sql id="baseColumn">
        id,oasis_channel_id,author_brand_id,title,preface,rich_media_content,cta_primary_label,cta_primary_url,cta_secondary_label,cta_secondary_url,cover_url,highlight,comment_tag,create_at,modified_at
    </sql>

    <select id="selectPageByQ" resultType="com.norm.timemall.app.team.domain.ro.TeamAppFbFetchFeedsPageRO">
        select
          f.id,
          f.title,
          f.preface,
          f.rich_media_content,
          f.cta_primary_label,
          f.cta_primary_url,
          f.cta_secondary_label,
          f.cta_secondary_url,
          f.cover_url,
          f.highlight,
          f.create_at,
          f.author_brand_id,
          b.brand_name author
        from app_fb_feed f
        inner join brand b on f.author_brand_id= b.id
        where
          1 = 1
          and f.oasis_channel_id = #{dto.channel}
        <if test="dto.q != null and dto.q != ''">
            AND ( locate(#{dto.q}, b.brand_name)>0
            or locate(#{dto.q}, f.title)>0
            or locate(#{dto.q}, f.preface)>0
            )
        </if>
        <if test="dto.filter != null and dto.filter != ''">
            <choose>
                <when test='dto.filter == "1"'>
                    and f.highlight='1'
                </when>
            </choose>
        </if>
        <if test="dto.sort != null and dto.sort != ''">
            <choose>
                <when test='dto.sort == "1"'>
                    order by f.modified_at desc
                </when>
                <when test='dto.sort == "2"'>
                    order by f.create_at desc
                </when>
            </choose>
        </if>

    </select>


</mapper>