<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.norm.timemall.app.team.mapper.TeamAppFbGuideMapper">
    <sql id="tableName">
        app_fb_guide
    </sql>

    <sql id="baseColumn">
        id,oasis_channel_id,layout,create_at,modified_at
    </sql>

</mapper>