<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.norm.timemall.app.team.mapper.TeamBrandMapper">
    <sql id="tableName">
        brand
    </sql>

    <sql id="baseColumn">
        id,brand_name,title,cover,avator,customer_id,wechat,phone,email,cardholder,cardno,alipay,wechatpay,experience,skills,location
    </sql>



    <select id="selectPageByQ" resultType="com.norm.timemall.app.team.domain.ro.TeamTalentRO">
        select b.brand_name,b.avator avatar,b.title ,b.id,
        CASE s.occupation_code
        when '0' then s.self_defined_occupation
        else c.item
        END as occupation,
        s.support_free_cooperation,s.brand_type_code, s.available_for_work,s.hiring,s.type_of_business
        from brand b
        left join brand_sub s
          on b.id=s.brand_id
        left join code_mapping c
          on c.code_type='occupation'
          and c.item_code=s.occupation_code
        where
            1 = 1
            and b.mark='1'
            and b.title is not null
        <if test="q != null and q != ''">
            AND (locate(#{q}, b.title)>0
            or locate(#{q}, b.brand_name)>0)
        </if>

    </select>

</mapper>