<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.norm.timemall.app.team.mapper.TeamAppRedeemProductMapper">
    <sql id="tableName">
        app_redeem_product
    </sql>

    <sql id="baseColumn">
        id,oasis_channel_id,thumbnail,product_code,product_name,price,inventory,sales_quota_type,sales_quota,release_at,estimated_delivery_at,genre_id,shipping_type,sold_orders,views,shipping_term,warm_reminder,status,create_at,modified_at
    </sql>


    <select id="selectPageByQ" resultType="com.norm.timemall.app.team.domain.ro.TeamAppRedeemFetchAdminProductPageRO">
        select
           p.id productId,
           p.thumbnail,
           p.product_name,
           p.product_code,
           p.price,
           p.inventory,
           p.sales_quota_type,
           p.sales_quota,
           p.release_at,
           p.estimated_delivery_at,
           g.genre_name,
           p.shipping_type,
           p.sold_orders,
           p.status,
           p.create_at
        from app_redeem_product p
        inner join app_redeem_product_genre g
          on p.genre_id=g.id
        where 1 = 1
          and p.oasis_channel_id = #{dto.channel}
        <if test="dto.q != null and dto.q != ''">
            AND (locate(#{dto.q}, p.product_name)>0 or  locate(#{dto.q}, p.shipping_term)>0  or  locate(#{dto.q}, p.product_code)>0)
        </if>
        <if test="dto.genreId != null and dto.genreId != ''">
            AND p.genre_id=#{dto.genreId}
        </if>
        <if test="dto.status != null and dto.status != ''">
            AND p.status=#{dto.status}
        </if>

        order by p.create_at desc
    </select>


    <select id="selectProductProfile" resultType="com.norm.timemall.app.team.domain.ro.TeamAppRedeemGetProductProfileRO">
       select
            p.id productId,
            p.thumbnail,
            p.price,
            p.inventory,
            p.product_name,
            p.sales_quota_type,
            p.sales_quota,
            p.release_at,
            p.shipping_type,
            p.status,
            s.history_buyer_orders,
            s.month_buyer_orders,
            p.product_code,
            p.estimated_delivery_at,
            p.genre_id,
            p.shipping_term,
            p.warm_reminder,
            p.sold_orders,
            p.views,
            g.genre_name
        from app_redeem_product p
        inner join app_redeem_product_genre g
        on p.genre_id=g.id
        left join app_redeem_product_stats s
          on p.id=s.product_id and s.buyer_brand_id=#{buyerBrandId}
        where 1=1 and p.id=#{id}
    </select>



    <select id="selectBuyerProductPageByQ" resultType="com.norm.timemall.app.team.domain.ro.TeamAppRedeemGetBuyerProductPageRO">
        select
            p.id productId,
            p.thumbnail,
            p.product_name,
            p.product_code,
            p.price,
            p.inventory,
            p.sales_quota_type,
            p.sales_quota,
            p.release_at,
            p.estimated_delivery_at,
            g.genre_name,
            p.shipping_type,
            ifnull(s.history_buyer_orders,0) historyBuyerOrders,
            ifnull(s.month_buyer_orders,0) monthBuyerOrders
        from app_redeem_product p
        inner join app_redeem_product_genre g
          on p.genre_id=g.id
        left join app_redeem_product_stats s
          on p.id=s.product_id and s.buyer_brand_id=#{buyerBrandId}
        where 1 = 1
          and p.oasis_channel_id = #{dto.channel}
          and p.status='2'
        <if test="dto.q != null and dto.q != ''">
            AND (locate(#{dto.q}, p.product_name)>0 or  locate(#{dto.q}, p.shipping_term)>0)
        </if>
        <if test="dto.genreId != null and dto.genreId != ''">
            AND p.genre_id=#{dto.genreId}
        </if>
        <if test="dto.sort != null and dto.sort != ''">
            <choose>
                <when test='dto.sort == "1"'>
                    order by p.create_at desc
                </when>
                <when test='dto.sort == "2"'>
                    Order by p.price desc
                </when>
                <when test='dto.sort == "3"'>
                    Order by p.price asc
                </when>
                <when test='dto.sort == "4"'>
                    Order by p.views desc
                </when>
            </choose>
        </if>
    </select>

</mapper>