<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.norm.timemall.app.team.mapper.TeamOasisMapper">
    <sql id="tableName">
        oasis
    </sql>

    <sql id="baseColumn">
        id,initiator_id,title,subtitle,avatar,membership,max_members,risk,announce,create_at,modified_at
    </sql>
    <select id="selectPageByQ" resultType="com.norm.timemall.app.team.domain.ro.TeamOasisRO">
        select avatar, title,subtitle,id
        from oasis
        where
         1 = 1
        <if test="q != null and q != ''">
            AND title = #{q}
        </if>

    </select>

</mapper>