<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.norm.timemall.app.team.mapper.TeamOasisJoinMapper">
    <sql id="tableName">
        oasis_join
    </sql>

    <sql id="baseColumn">
        id,oasis_id,brand_id,tag,create_at,modified_at
    </sql>

    <select id="selectFriendNotInOasis" resultType="com.norm.timemall.app.team.domain.ro.TeamFetchFriendRO">
        select  b.id brandId,b.avator avatar,b.brand_name title
        from private_rel r
        left join brand b on r.friend_id=b.customer_id
        left join oasis_member m on m.oasis_id=#{dto.oasisId} and m.brand_id=b.id
        where 1=1
        <if test="dto.q != null and dto.q != ''">
            AND locate(#{dto.q}, b.brand_name)>0
        </if>
         and r.user_id=#{user_id} and m.brand_id is null
        order by r.modified_at desc
        limit 500
    </select>

</mapper>