<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.norm.timemall.app.team.mapper.TeamOasisMapper">
    <sql id="tableName">
        oasis
    </sql>


    <select id="selectPageByQ" resultType="com.norm.timemall.app.team.domain.ro.TeamOasisRO">
        select avatar, title,subtitle,id
        from oasis
        where
         1 = 1
        and mark='2'
        <if test="q != null and q != ''">
            AND locate(#{q}, title)>0
        </if>

    </select>
    <select id="selectAnnounceById" resultType="com.norm.timemall.app.team.domain.pojo.TeamOasisAnnounce">
        select initiator_id initiator,title,avatar,subTitle,announce announceUrl,risk  from oasis
        where
          id=#{id}
    </select>


</mapper>