<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.norm.timemall.app.team.mapper.TeamAppDeskElementMapper">
    <sql id="tableName">
        app_desk_element
    </sql>

    <sql id="baseColumn">
        id,app_desk_topic_id,title,preface,icon_url,link_url,views,create_at,modified_at
    </sql>

    <delete id="deleteByChannel" >
        DELETE FROM app_desk_element
        WHERE EXISTS(
        SELECT 1 FROM app_desk_topic Where app_desk_topic.id = app_desk_element.app_desk_topic_id
        and app_desk_topic.oasis_channel_id=#{chn}
        )
    </delete>


</mapper>