<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.norm.timemall.app.team.mapper.TeamOfficeEmployeeBenefitMapper">
    <sql id="tableName">
        office_employee_benefit
    </sql>

    <sql id="baseColumn">
        id,employee_id,pension_insurance_base,pension_insurance_company_rate,pension_insurance_employee_rate,medical_insurance_base,medical_insurance_company_rate,medical_insurance_employee_rate,unemployment_insurance_base,unemployment_insurance_company_rate,unemployment_insurance_employee_rate,occupational_injury_insurance_base,occupational_injury_insurance_company_rate,occupational_injury_insurance_employee_rate,birth_insurance_base,birth_insurance_company_rate,birth_insurance_employee_rate,housing_provident_funds_base,housing_provident_funds_company_rate,housing_provident_funds_employee_rate,create_at,modified_at
    </sql>

</mapper>