<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.norm.timemall.app.scheduled.mapper.TaskSimpleProcedureMapper">


    <update id="doExecuteCalOasisBalanceSummaryInfoProcedure" statementType="CALLABLE">
        {
           CALL cal_batch_generate_balance_summary_proc_0023()
        }
    </update>

    <update id="doExecuteCalMpsDrawerSummaryProcedure" statementType="CALLABLE">
        {
        CALL cal_batch_process_mps_summary_proc_0025()
        }
    </update>

</mapper>