<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.norm.timemall.app.mall.mapper.CommonOrderPaymentMapper">
    <sql id="tableName">
        common_order_payment
    </sql>

    <sql id="baseColumn">
        id,status,status_desc,pay_type,pay_type_desc,trading_order_id,trading_order_type,trade_no,total_amount,message,create_at,modified_at
    </sql>

</mapper>