<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.norm.timemall.app.mall.mapper.MallUserNeedStoryMapper">
    <sql id="tableName">
        user_need_story
    </sql>

    <sql id="baseColumn">
        id,descriptions,budget,contact_info,tag,create_at,modified_at
    </sql>

</mapper>