<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.norm.timemall.app.mall.mapper.CellPlanMapper">

    <select id="selectCellPlanByCellId" resultType="com.norm.timemall.app.mall.domain.ro.FetchCellPlanRO">
        select p.id planId,p.title,p.content,p.feature,p.price,p.plan_type
        from cell_plan p
        where
        p.cell_id=#{cellId}
    </select>


</mapper>