<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.norm.timemall.app.mall.mapper.BrandMapper">
    <sql id="tableName">
        brand
    </sql>

    <sql id="baseColumn">
        id,brand_name,title,cover,avator,customer_id,wechat,phone,email,cardholder,cardno,alipay,wechatpay,experience,skills,location
    </sql>

    <resultMap id="brandProfileResultMap" type="com.norm.timemall.app.mall.domain.ro.BrandProfileRO">
        <result property="brand" column="brand"/>
        <result property="brandUserId" column="customer_id"/>
        <result property="avator" column="avator"/>
        <result property="cover" column="cover"/>
        <result property="experience"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"
                column="experience"/>
        <result property="title" column="title"/>
        <result property="location" column="location"/>
        <result property="skills"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"
                column="skills"/>
        <result property="links"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"
                column="links"/>
        <result property="enableBlue" column="enableBlue"/>

    </resultMap>

    <select id="selectProileByBrandId" resultMap="brandProfileResultMap">
        select b.brand_name brand,b.customer_id ,b.avator,b.cover,b.experience,b.title,b.location,b.skills,b.links,ifnull(b.blue_end_at > now(),0) enableBlue
        from brand b
        where b.id = #{brandId}
    </select>

</mapper>