<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.norm.timemall.app.mall.mapper.MallRcLibraryMapper">


    <resultMap id="selectRcPageResultMap" type="com.norm.timemall.app.mall.domain.ro.MallGetRcListRO">
        <result property="title" column="title"/>
        <result property="thumbnail" column="thumbnail"/>
        <result property="downloadUri" column="download_uri"/>
        <result property="previewUri" column="preview_uri"/>

        <result property="tags"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"
                column="tags"/>


    </resultMap>

    <select id="selectRcPage" resultMap="selectRcPageResultMap">
        select rc.title,rc.thumbnail,rc.download_uri,rc.preview_uri,rc.tags
        from rc_library rc
        <where>
            1=1
            <if test="dto.q != null and dto.q != ''">
                AND locate(#{dto.q}, rc.title)>0
            </if>
        </where>
    </select>


</mapper>