<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.norm.timemall.app.studio.mapper.StudioBrandSubMapper">
    <sql id="tableName">
        brand_sub
    </sql>

    <sql id="baseColumn">
        id,brand_id,occupation_code,self_defined_occupation,brand_type_code,activity_code
    </sql>

</mapper>