<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.norm.timemall.app.studio.mapper.StudioBrandPromotionMapper">


    <select id="selectCouponCreditPointBenefit" resultType="java.math.BigDecimal">
      select
        case
          when cc.credit_point is not null then cc.credit_point
          when cc.credit_point is null And p.credit_point_tag='1' then p.credit_point
          else 0
        end as credit_point
        from brand_promotion p
        left join credit_coupon cc
          on p.brand_id=cc.supplier_brand_id
            and cc.consumer_brand_id=#{consumerBrandId}
        where p.brand_id=#{supplierBrandId}
    </select>



</mapper>