<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.norm.timemall.app.studio.mapper.StudioVirtualProductShowcaseMapper">
    <sql id="tableName">
        virtual_product_showcase
    </sql>

    <sql id="baseColumn">
        id,product_id,showcase_url,showcase_od,create_at,modified_at
    </sql>

</mapper>