<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.norm.timemall.app.studio.mapper.StudioBillMapper">
    <sql id="tableName">
        bill
    </sql>

    <sql id="baseColumn">
        id,stage,amount,voucher,mark,order_id,create_at,modified_at
    </sql>
    <select id="selectBillPageByBrandId" resultType="com.norm.timemall.app.studio.domain.ro.StudioBillRO">
        select b.stage,d.consumer_name customer,d.cell_title service,b.amount,b.id billId,b.voucher
        from bill b
        inner join order_details d on b.order_id = d.id
        inner join brand r on r.id=d.brand_id
        where r.customer_id = #{user_id}
        and b.mark = #{code}
    </select>

</mapper>