<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.norm.timemall.app.studio.mapper.StudioBillMapper">
    <sql id="tableName">
        bill
    </sql>

    <sql id="baseColumn">
        id,stage,amount,voucher,mark,order_id,create_at,modified_at
    </sql>
    <select id="selectBillPageByBrandId" resultType="com.norm.timemall.app.studio.domain.ro.StudioBillRO">
        select b.categories, b.promotion_deduction, b.commission,b.net_income, b.stage,buyer.brand_name customer,buyer.avator customerAvatar,buyer.customer_id customerUserId, b.remark service,b.amount,b.id billId,b.voucher,b.create_at added
        from bill b
        inner join brand buyer on buyer.id=b.payer_fid and b.payer_fid_type='1'
        <where>
            1=1
            and b.mark = #{dto.code}
            and b.payee_fid = #{brand_id}
            and b.payee_fid_type='1'
            <if test="dto.q != null and dto.q != ''">
                AND (locate(#{dto.q}, b.remark)>0 or locate(#{dto.q}, b.stage)>0  or locate(#{dto.q}, buyer.brand_name)>0)
            </if>
            <if test="dto.categories != null and dto.categories != ''">
                AND b.categories=#{dto.categories}
            </if>
        </where>

        order by b.create_at desc
    </select>

</mapper>