<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.norm.timemall.app.studio.mapper.StudioCellPlanDeliverMapper">
    <sql id="tableName">
        cell_plan_deliver
    </sql>


    <select id="selectPlanOrderDeliverByOrderIdAndBrandId" resultType="com.norm.timemall.app.base.pojo.ro.FetchCellPlanOrderDeliverRO">
        select d.id deliverId, d.preview,d.preview_name,d.deliver,d.deliver_name,d.msg,d.tag
        from cell_plan_deliver d
        inner join cell_plan_order  o
          on d.plan_order_id=o.id
        inner join cell c
          on c.id=o.cell_id
        where d.plan_order_id=#{orderId}
          and c.brand_id=#{brandId}
        order  by d.create_at desc
    </select>

</mapper>