<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.norm.timemall.app.ms.mapper.MsEventFeedMapper">
    <sql id="tableName">
        event_feed
    </sql>

    <sql id="baseColumn">
        id,scene,up,down,feed,mark,create_at,modified_at
    </sql>

</mapper>