<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.norm.timemall.app.ms.mapper.MsMpsMsgHelperMapper">
    <sql id="tableName">
        mps_msg_helper
    </sql>

    <select id="selectHaveNewMpsMsgRoomByRooms" resultType="java.lang.String">
        select m.target_id from mps_msg m
        left join mps_msg_helper h
        on m.target_id=h.target_id
        where 1=1
        and m.target_id in
        <foreach collection="roomList" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>

        and (
        h.target_id is null or ( h.subscriber=#{subscriber} and m.create_at > h.create_at)
        )
        group by m.target_id

    </select>

</mapper>