<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.norm.timemall.app.affiliate.mapper.AffiliateInfluencerProductMapper">
    <sql id="tableName">
        affiliate_influencer_product
    </sql>

    <select id="selectPageByDTO" resultType="com.norm.timemall.app.affiliate.domain.ro.FetchInfluencerProductRO">
        select
           ip.cell_id,ip.supplier_brand_id,pi.product_name,ip.revshare,ip.plan_price,ip.cell_sale_volume,ip.plan_sale_volume,ip.sales,ip.views,ip.refund_orders
        from affiliate_influencer_product ip
        inner join affiliate_product_ind pi
          on pi.cell_id=ip.cell_id

        <where>
            1=1
            <if test="dto.q != null and dto.q != ''">
                AND (locate(#{dto.q}, ip.supplier_brand_name)>0  or  locate(#{dto.q}, ip.product_name)>0)
            </if>
            <if test="dto.supplierAccountAgeLeft > 0">
                AND TIMESTAMPDIFF(MONTH,pi.supplier_create_at,DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%S')) &gt;= #{dto.supplierAccountAgeLeft}
            </if>
            <if test="dto.supplierAccountAgeRight > 0">
                AND TIMESTAMPDIFF(MONTH,pi.supplier_create_at,DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%S')) &lt;= #{dto.supplierAccountAgeRight}
            </if>
            <if test="dto.heartbeat != null and dto.heartbeat != ''">
                <choose>
                    <when test='dto.heartbeat == "1"'>
                        AND TIMESTAMPDIFF(WEEK,pi.supplier_modified_at,DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%S'))  &lt;= 1
                    </when>
                    <when test='dto.heartbeat == "2"'>
                        AND  TIMESTAMPDIFF(MONTH,pi.supplier_modified_at,DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%S'))  &lt;= 1
                    </when>
                    <when test='dto.heartbeat == "3"'>
                        AND  TIMESTAMPDIFF(MONTH,pi.supplier_modified_at,DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%S'))  &lt;= 3
                    </when>
                </choose>
            </if>
            <if test="dto.blue != null and dto.blue != ''">
                <choose>
                    <when test='dto.blue == "1"'>
                        AND pi.supplier_blue_end_at > now()
                    </when>
                </choose>
            </if>
            <if test="dto.planPriceLeft > 0">
                AND ip.plan_price  &gt;= #{dto.planPriceLeft}
            </if>
            <if test="dto.planPriceRight > 0">
                AND  ip.plan_price  &lt;= #{dto.planPriceRight}
            </if>
            <if test="dto.revshareLeft > 0">
                AND ip.revshare  &gt;= #{dto.revshareLeft}
            </if>
            <if test="dto.revshareRight > 0">
                AND  ip.revshare  &lt;= #{dto.revshareRight}
            </if>
            <if test="dto.viewsLeft > 0">
                AND ip.views  &gt;= #{dto.viewsLeft}
            </if>
            <if test="dto.viewsRight > 0">
                AND  ip.views  &lt;= #{dto.viewsRight}
            </if>
            <if test="dto.saleVolumeLeft > 0">
                AND  ip.plan_sale_volume  &lt;= #{dto.saleVolumeRight}
            </if>
            <if test="dto.saleVolumeRight > 0">
                AND  ip.plan_sale_volume  &lt;= #{dto.saleVolumeRight}
            </if>
            <if test="dto.offline != null and dto.offline != ''">
                AND pi.cell_mark = #{dto.offline}
            </if>

        </where>
    </select>

</mapper>