<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.norm.timemall.app.affiliate.mapper.AffiliateLinkMarketingMapper">

    <select id="selectPageByDTO" resultType="com.norm.timemall.app.affiliate.domain.ro.FetchLinkMarketingPageRO">
        select lm.brand_id,chn.channel_name,lm.supplier_brand_id,lm.cell_id,bs.product_name,ip.revshare,lm.cell_sale_volume,lm.plan_sale_volume,lm.sales,lm.views,
        lm.refund_orders,lm.settled_payment,lm.unsettled_payment,lm.shortlink,lm.id linkMarketingId,chn.id outreachChannelId
        from affiliate_link_marketing lm
        inner join affiliate_outreach_channel chn
          on lm.outreach_channel_id=chn.id
        inner join affiliate_product_ind bs
          on bs.cell_id=lm.cell_id
        inner join affiliate_influencer_product ip
          on lm.cell_id=ip.cell_id
          and lm.brand_id=ip.brand_id
        and ip.brand_id=#{brandId}


        <where>
            1=1
            <if test="dto.q != null and dto.q != ''">
                AND (locate(#{dto.q}, bs.supplier_brand_name)>0  or  locate(#{dto.q}, bs.product_name)>0 or  locate(#{dto.q}, chn.channel_name)>0  or  locate(#{dto.q}, lm.shortlink)>0)
            </if>
            <if test="dto.supplierAccountAgeLeft > 0">
                AND TIMESTAMPDIFF(MONTH,bs.supplier_create_at,DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%S')) &gt;= #{dto.supplierAccountAgeLeft}
            </if>
            <if test="dto.supplierAccountAgeRight > 0">
                AND TIMESTAMPDIFF(MONTH,bs.supplier_create_at,DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%S')) &lt;= #{dto.supplierAccountAgeRight}
            </if>
            <if test="dto.heartbeat != null and dto.heartbeat != ''">
                <choose>
                    <when test='dto.heartbeat == "1"'>
                        AND   TIMESTAMPDIFF(WEEK,bs.supplier_modified_at,DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%S'))  &lt;= 0
                    </when>
                    <when test='dto.heartbeat == "2"'>
                        AND  TIMESTAMPDIFF(MONTH,bs.supplier_modified_at,DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%S'))  &lt;= 0
                    </when>
                    <when test='dto.heartbeat == "3"'>
                        AND  TIMESTAMPDIFF(MONTH,bs.supplier_modified_at,DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%S'))  &lt;= 2
                    </when>
                </choose>
            </if>
            <if test="dto.blue != null and dto.blue != ''">
                <choose>
                    <when test='dto.blue == "1"'>
                        AND bs.supplier_blue_end_at > now()
                    </when>
                </choose>
            </if>
            <if test="dto.planPriceLeft > 0">
                AND ip.plan_price  &gt;= #{dto.planPriceLeft}
            </if>
            <if test="dto.planPriceRight > 0">
                AND  ip.plan_price  &lt;= #{dto.planPriceRight}
            </if>
            <if test="dto.revshareLeft > 0">
                AND ip.revshare  &gt;= #{dto.revshareLeft}
            </if>
            <if test="dto.revshareRight > 0">
                AND  ip.revshare  &lt;= #{dto.revshareRight}
            </if>
            <if test="dto.viewsLeft > 0">
                AND lm.views  &gt;= #{dto.viewsLeft} * 1000
            </if>
            <if test="dto.viewsRight > 0">
                AND  lm.views  &lt;= #{dto.viewsRight} * 1000
            </if>
            <if test="dto.salesLeft > 0">
                AND lm.sales  &gt;= #{dto.salesLeft}
            </if>
            <if test="dto.salesRight > 0">
                AND  lm.sales  &lt;= #{dto.salesRight}
            </if>
            <if test="dto.saleVolumeLeft > 0">
                AND  lm.plan_sale_volume  &lt;= #{dto.saleVolumeLeft}
            </if>
            <if test="dto.saleVolumeRight > 0">
                AND  lm.plan_sale_volume  &lt;= #{dto.saleVolumeRight}
            </if>
            <if test="dto.offline != null and dto.offline != ''">
                AND bs.cell_mark = #{dto.offline}
            </if>
            <if test="dto.sort == null or dto.sort == ''">
                Order by lm.create_at desc
            </if>
            <if test="dto.sort != null and dto.sort != ''">
                <choose>
                    <when test='dto.sort == "1"'>
                        Order by lm.plan_sale_volume desc
                    </when>
                    <when test='dto.sort == "2"'>
                        Order by lm.sales desc
                    </when>
                    <when test='dto.sort == "3"'>
                        Order by lm.views desc
                    </when>
                    <when test='dto.sort == "4"'>
                        Order by chn.channel_name desc
                    </when>
                    <when test='dto.sort == "5"'>
                        Order by bs.product_name desc
                    </when>
                </choose>
            </if>

        </where>
    </select>

</mapper>