<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.norm.timemall.app.base.mapper.CustomerMapper">
    <sql id="tableName">
        customer
    </sql>

    <sql id="baseColumn">
        id,social_login,social_accounts,customer_name,notify_email,notify_phone,login_name,regist_at,modified_at,password
    </sql>

</mapper>