<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.norm.timemall.app.pay.mapper.PayRefundMapper">
    <sql id="tableName">
        pay_refund
    </sql>

    <sql id="baseColumn">
        id,trade_no,trading_order_id,message,status,status_desc,refund_trade_no,create_at,modified_at
    </sql>

</mapper>